@{
    ViewBag.Title = "Hubungi Kami";
}
<h2><i class="fa fa-phone-square" aria-hidden="true"></i> @ViewBag.Title</h2>

<address>
    JClean Laundry<br />
    Jl Setra Sari No 54 B - Bandung<br />
    <abbr title="Phone">P:</abbr>
    022 221 211
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@jcleanlaundry.com">support@jcleanlaundry.com</a><br />
</address>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")