@{
    ViewBag.Title = "Paket";
}
<h2><i class="fa fa-shopping-basket" aria-hidden="true"></i> @ViewBag.Title</h2>

JClean Laundry menawarkan beberapa paket yang menarik untuk Anda.

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
