/* Transaksi */

.transaksi {
    
}

.transaksi_div-container {
    padding-left: 0;
    padding-right: 0;
}

.transaksi_image-title {
    color: #3AA935;
}

.transaksi_div-aksi {
    padding-top: 15px;
    text-align: right;
}

.transaksi_btn-proses{
    background: #f37021;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.transaksi_btn-batal{
    background: #999999;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

#transaksi_div-pelanggan-error{
    display: none;
}

/* ---------- Satuan ------------ */

.div_satuan-total-bayar-body{
    text-align: right;
}

#div_satuan-total-bayar{
    font-size: 23pt;
}