@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-divider"></li>
            <li>
                <a href="#" title="Manage">
                    <i class="fa fa-user" aria-hidden="true"></i> Masuk sebagai: @User.Identity.GetUserName()
                </a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Keluar
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-divider"></li>
        <li>
            <a href="@Url.Action("Daftar", "Account")" id="registerLink">
                <i class="fa fa-users" aria-hidden="true"></i> Daftar
            </a>
        </li>
        <li>
            <a href="@Url.Action("Masuk", "Account")" id="loginLink">
                <i class="fa fa-user" aria-hidden="true"></i> Masuk
            </a>
        </li>
    </ul>
}
