/* Header */

.main_header-brand-hyperlink{
    color: #ffffff !important;
}

/* Pengecekan */

.pengecekan {
    
}

.pengecekan_image-title {
    color: #0ABAEE;
}

/* Laporan */

.laporan {
    
}

.laporan_image-title {
    color: #3255a6;
}

/* Tambah Barang */

.tambah-barang {
    
}

.tambah-barang_image-title {
    color: #b64b85;
}

/* Pelanggan */

.pelanggan {
    
}

.pelanggan_image-title {
    color: #b64b85;
}