/* Header */

.main_header-brand-hyperlink{
    color: #ffffff !important;
}

/* Menu Utama */

.menu_utama {
    
}

.menu-utama button {
    height: 120px;
    width: 120px;
}

.menu-utama i {
    font-size: 28pt;
}

.menu-utama_btn {
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu-utama_div-kiri {
    border: 1px solid #ECECED;
    text-align: center;
}

.menu-utama_div-kanan {
    border: 1px solid #ECECED;
    text-align: center;
    border-left-width: 0px;
}

.menu-utama_div-text {
    margin-bottom: 15px;
    font-weight: bold;
}

.menu-utama_btn-cuci-baru {
    background-color: #3AA935;
}

.menu-utama_btn-cari {
    background-color: #ec008c;
}

.menu-utama_btn-pengecekan {
    background-color: #f37021;
}

.menu-utama_btn-laporan {
    background-color: #3255a6;
}

.menu-utama_btn-tambah-barang {
    background-color: #b64b85;
}

.menu-utama_btn-pelanggan {
    background-color: #0ABAEE;
}