@{
    ViewBag.Title = "Cuci Baru";
}

<h2>
    <i class="fa fa-shopping-basket cuci-baru_image-title" aria-hidden="true" ></i> Cuci Baru
</h2>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</div>

