@{
    ViewBag.Title = "Pelanggan";
}

<h2>
    <i class="fa fa-users pelanggan_image-title" aria-hidden="true"></i> Pelanggan
</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</div>

