@{
    ViewBag.Title = "Pengecekan";
}

<h2>
    <i class="fa fa-check-square pengecekan_image-title" aria-hidden="true"></i> Pengecekan
</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</div>

